<p>Listya de productos</p>

<table>

    <thead>
        <th>Nombre</th>
        <th>Costo</th>
        <th>Imagen</th>
        <th>Tools</th>
    </thead>
    <tbody>
        <tr *ngFor="let prod of farmacia">
            <td>{{ prod.producto }}</td>
            <td>S/. {{ prod.costo }}</td>
            <td><img src="{{ prod.foto }}" alt="" width="100"></td>
            <td>
                <button class="boton" (click)="onClickDelete(prod)">Elilminar</button>
            </td>
        </tr>
    </tbody>

</table>
